@import "_settings";

@import "compass";
@import "foundation/settings";
@import "foundation/functions/all";

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";

@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";

@import "foundation/common/globals";
@import "modular-scale";

@import "foundation/components/grid";
@import "foundation/common/typography";
@import "foundation/components/modules/ui";
@import "foundation/components/modules/mqueries";

body {
  background: url(/images/bg.png);
}

header {
  padding-top: 50px;
  text-align: center;
}

footer li {
  @include opacity(.6);

  &.twitter {
    @include opacity(1);
  }
}

h4 {
  font-weight: normal;
}