extends layout.pug

block content
  div
    h1 Hi. I'm Jason.

    p I build web applications, mostly with PHP and JavaScript.

    ul
      li
        a(href="https://github.com/deefour") Github
      li
        a(href="http://stackoverflow.com/users/605707/deefour") StackOverflow
      li
        a(href="mailto:jason@deefour.me") Email
      li
        a(href="./resume.pug") Resume
      li
        a(href="jason@deefour.me.pub") Public Key

block scripts
  script(src="./index.ts")
