html,
body {
  font: 14px/1.3 'Source Sans Pro';
  background: white;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div {
  max-width: 100%;
  z-index: 10;
}

h1 {
  font-family: 'Bree Serif';
  font-weight: 900;
  margin: 0;
  background-image: url(./awesome.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding-left: 3rem;
  display: inline-block;
  font-size: 2rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 1rem 0;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

li {
  margin-right: 1rem;
}

li:last-child {
  margin-right: 0;
}

a {
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  display: block;
  margin-bottom: 0.3rem;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
