extends layout.pug

block content
  #container
    .who-am-i
      .hi-there
        .me
        h1 Hi. I'm Jason.

      p I build web applications, mostly with PHP and JavaScript.

      ul
        li
          a(href="https://github.com/deefour") Github
        li
          a(href="https://www.linkedin.com/in/deefour") LinkedIn
        li
          a(href="http://stackoverflow.com/users/605707/deefour") StackOverflow
        li
          a(href="mailto:jason@deefour.me") Email
        li
          a(href="./resume.pug") Resume
        li
          a(href="jason@deefour.me.pub") Public Key

    .projects
      h2 Personal Projects
      p I create things in my free time to learn and stay current.

      article
        header
          h3
            a(href="https://www.theconferencescheduler.com") The Conference Scheduler
          a(href="https://www.theconferencescheduler.com" class="details details--scheduler") The Conference Scheduler website

        section
          p Security-focused, available-everywhere, live-updating schedule management built for schools.

        footer
          p
            | #[a(href="https://laravel.com") Laravel] application and JSON API.
            | Hosted on #[a(href="https://www.digitalocean.com") DigitalOcean].
            | Deployment via #[a(href="https://www.ansible.com") Ansible].
            | CI/CD via #[a(href="https://circleci.com") CircleCI].
            | Developed with #[a(href="https://vagrantup.com") Vagrant].
            | Assets built by #[a(href="https://webpack.js.org/") webpack] &amp; served by #[a(href="https://aws.amazon.com/cloudfront/") Amazon CloudFront].

      article
        header
          h3
            a(href="https://hooptie.deefour.me") Find My Hooptie
          a(href="https://github.com/deefour/hooptie" class="details details--octocat") Source code on Github

        section
          p A tiny vehicle listing aggregator with the ability to favorite and permanently dismiss results. This app helps me keep track of vehicles I'm interested in.

        footer
          p
            | #[a(href="https://vuejs.org/") Vue.js] SPA.
            | Hosted on #[a(href="https://www.netlify.com/") Netlify].
            | Data fetched via Google's #[a(href="https://firebase.google.com/products/functions/") Cloud Functions for Firebase] &amp; stored in #[a(href="https://firebase.google.com/products/firestore") Cloud Firestore].
            | Built with #[a(href="https://parceljs.org/") parcel.js].

block scripts
  script(src="./index.ts")
