@import './_mixins.scss';

html,
body {
  font: 13px/1.3 'Source Sans Pro', sans-serif;

  @media print {
    font-size: 11.5px;
  }
}

@include md {
  section {
    border-left: 0.25rem solid rgba(black, 0.05);
    padding-left: 1rem;
    margin-bottom: 3rem;
  }
}

a {
  text-decoration: none;

  @media screen {
    text-decoration: underline;
  }
}

ul {
  padding-left: 1.5rem;

  @include md {
    padding-left: 2.5rem;
  }
}

h1,
h2,
h3 {
  font-family: 'Bree Serif', serif;
  font-weight: 900;
}

h2 {
  @media screen {
    position: relative;
    padding-left: 1.5rem;

    &::before {
      color: black;
      content: '#';
      position: absolute;
      opacity: 0.35;
      left: 0;
    }
  }

  a {
    text-decoration: none;

    &,
    &:visited {
      @include link-color(#222);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  text-align: center;

  span {
    opacity: 0.5;
    font-size: 0.8em;
  }
}

.download-or-print {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: rgba($color-accent, 0.06);
  border-bottom: 1px solid rgba($color-accent, 0.6);

  b {
    font-weight: 700;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

.summary {
  text-align: center;
  border-bottom: 1px dashed rgba(black, 0.15);
  margin-bottom: 2rem;

  @include md {
    .standout {
      @include subdued;

      font-size: 1.1rem;
    }
  }
}

.where-to-find-me {
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;

  @media print {
    a.print-link {
      width: 0px;
      overflow: hidden;
      font-size: 0;

      &::after {
        font-size: 1rem;
        content: attr(href);
      }
    }
  }

  li {
    margin: 0 1rem 0.5rem;
  }
}

.skills {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;

  @include md {
    font-size: 1rem;
  }

  li {
    margin: 0 0.25rem 0.55rem;
    line-height: 1;
    white-space: nowrap;

    @media print {
      &:not(:last-child)::after {
        content: ',';
      }
    }

    @media screen {
      padding: 0.4rem 0.5rem;
      border-radius: 0.25rem;
      background: rgba(black, 0.05);
    }
  }
}

.experience {
  + .experience {
    border-top: 1px dashed rgba(black, 0.15);
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .meta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include md {
      flex-direction: row;
    }
  }

  .where-when {
    text-align: left;

    @include md {
      text-align: right;
    }
  }

  .description > p {
    @include subdued;

    font-weight: 600;

    * {
      opacity: 1;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  .title-company {
    display: flex;
    flex-flow: column nowrap;
  }

  .separator {
    margin: 0 0.5rem;
  }
}
