@import "bourbon";



// Sass Variables
// -----------------------------------------------------------------------------
$color-php: #7F00F4;
$color-javascript: #F45400;
$color-yaml: #FFBF1E;
$color-shell: #0092F4;
$color-link: #2D1F3B;
$color-bg: #240F03;
$color-label: #F77B00;

$copy-font: 'Open Sans', Verdana, sans-serif;
$code-font: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;



// App Styling
// -----------------------------------------------------------------------------
html, body {
  font: 14px/1.3 $copy-font;
  margin: 0;
  padding: 0;
}

html {
  background:#222;
  @include background-image(radial-gradient(center, ellipse cover, #3D3D3D 0%, #222 100%));
  background-attachment:fixed;
  background-position:center center;
  background-repeat:no-repeat;
}

header {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  background: #FAFAFA;
}

section {
  padding: 10px;
  font-size: 13px;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

h1 {
  padding: 0 0 5px;
  font-size: 24px;
  line-height: 24px;
}

h2 {
  padding: 10px 0 5px;
  font-size: 18px;
}

ul, li, p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 5px;
  padding-left: 15px;
}

a {
  color: $color-link;
}

#wrapper {
  border-radius: 4px;
  overflow: hidden;
  margin: 40px auto;
  width: 540px;
  border: 1px solid #000;
  background: white;
}

.project {
  border-radius: 4px;
  border: 1px solid #CCC;
  border-left: 5px solid #AAA;
  padding: 5px 10px;
  position: relative;
  margin: 0 0 10px;
  background: #FAFAFA;

  &:nth-child(even) {
    background-color: #f4f4f4;
  }

  p {
    padding: 5px 0 0;
  }

  &.php {
    border-left-color: $color-php;

    .current-release {
      background-color: $color-php;
    }
  }

  &.javascript {
    border-left-color: $color-javascript;

    .current-release {
      background-color: $color-javascript;
    }
  }

  &.yaml {
    border-left-color: $color-yaml;

    .current-release {
      background-color: $color-yaml;
    }
  }

  &.shell {
    border-left-color: $color-shell;

    .current-release {
      background-color: $color-shell;
    }
  }

  .current-release {
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: $code-font;
    position: absolute;
    bottom: 5px;
    left: 10px;
  }

  .repository, code{
    font: 12px/1.3 $code-font;
  }

  code, .tags li{
    border-radius: 2px;
  }

  code {
    background: #EEE;
    padding: 0 2px;
  }

  b {
    padding-left: 5px;
  }

  .repository {
    position: absolute;
    right: 10px;
    top: 8px;
  }

  h3{
    font-size: 14px;
  }

  .tags, .tags li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 11px;
  }

  .tags {
    text-align: right;
    padding: 10px 0 0;
  }

  .tags li {
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 2px 5px;
    background: #EAEAEA;
  }
}

.context {
  background-color: #E8E8E8;
  text-decoration: none;

  &:hover {
    background-color: #DDD;
    text-decoration: underline;
  }
}

#identity{
  clear: both;

  div {
    float: left;
    width: 49.5%;
  }
}

.tags li .fa,
.repository .fa{
  opacity: .5;
  color: black;
}

.repository:hover .fa {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


#find-me {
  position: relative;

  .profiles {
    @include clearfix;

    width: 84%;

    ul {
      width: 50%;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 0 0 5px;
      }
    }
  }

  .stack-exchange {
    position: absolute;
    top: 40px;
    right: 0;

    h2 {
      display: none;
    }

    #so-badge {
      float: right;
      width: 73px;
      overflow: hidden;
      position: relative;
      height: 58px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;

      img{
        position: absolute;
        right: -1px;
        top: 0;
      }
    }
  }
}

#label-interactive {
  font: 10px/2 $code-font;
  padding: 8px 10px;
  background-color: #EEE;
  margin: 10px -10px 0;
  border: 1px solid #DDD;
  border-left: 0;
  border-right: 0;

  a {
    color: white;
    background-color: $color-label;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 5px;
    border: 1px solid darken($color-label, 15%);
    white-space: nowrap;

    &:hover {
      background-color: darken($color-label, 3%);
      border-color: darken($color-label, 18%);
    }
  }
}

footer {
  opacity: .8;
  padding: 0 10px 10px;
  font-size: 11px;
  color: #444;

  ul, li {
    padding: 0;
    margin: 0;
  }

  ul {
    @include clearfix;
  }

  li {
    display: inline-block;
    float: left;

    &:last-child {
      float: right;
    }
  }
}





/* 568 and less */
@media only screen and (max-width: 568px) {
  html, body {
    background: white;
  }

  #wrapper {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
    border: none;
  }

  section {
    padding-left: 0;
    padding-right: 0;
  }

  .project {
    border-radius: 0;
    border-right: none;
  }

  #find-me {
    padding: 0 10px;

    .stack-exchange {
      right: 10px;
    }
  }

  #label-interactive {
    margin: 10px -10px;
  }
}


/* 500 and less */
@media only screen and (max-width: 500px) {
  .project .tags li {
    display: none;
  }

  .project .tags li:nth-child(-n+3){
    display: inline-block;
  }
}



/* 468 and less */
@media only screen and (max-width: 468px) {
  .project .repository {
    position: static;
    display: block;
    padding-top: 5px;
  }

  #find-me {
    .profiles {
      width: 100%;

      ul {
        float: none;
        width: auto;
      }
    }

    .stack-exchange {
      position: static;
      margin-right: 0;

      h2 {
        display: block;
      }

      #so-badge {
        width: auto;
        overflow: visible;
        float: none;
        position: static;
        border: none;
      }

      #so-badge img {
        position: static;
      }
    }
  }

  #find-me,
  #label-interactive,
  header,
  footer li {
    text-align: center;
  }
}


/* 440 and less */
@media only screen and (max-width: 440px) {
  footer li, footer li:last-child {
    float: none;
    display: list-item;
    padding: 3px 0;
  }

  .project .tags li:nth-child(-n+3){
    display: none;
  }

  .project .tags li:nth-child(-n+2){
    display: inline-block;
  }
}